body {
  font-family: "Lato", sans-serif;
  /* background-color: rgb(0, 0, 0); */
}

section {
  position: fixed;
  z-index: 2;
}

section strong {
  font-size: large;
  padding-left: 40%;
  text-align: center;
}
.newalert {
  top: 0px;
  position: fixed;
  left: 0;
  text-align: center;
  padding: 20px;
  background-color: #dff2bf;
  color: #4f8a10;

  width: 100%;
}

.closebtn {
  margin-left: 15px;
  color: #4f8a10;
  font-weight: bold;
  float: right;
  font-size: 25px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.main-head {
  height: 150px;
  background: #fff;
}

.sidenav {
  height: 100%;
  background: url("18.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
  padding-top: 20px;
}

.main {
  padding: 0px 10px;
  font-size: 120%;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}

@media screen and (max-width: 450px) {
  .login-form {
    margin-top: 10%;
  }

  .register-form {
    margin-top: 10%;
  }
}

@media screen and (min-width: 768px) {
  .main {
    margin-left: 50%;
    margin-top: 15%;
    /* background-color: rgb(255, 255, 255); */
  }

  .main-register {
    margin-left: 50%;
    margin-top: 10%;
  }

  .sidenav {
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  section {
    height: 50px;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
  }

  .login-form {
    margin-top: 40%;
  }

  .register-form {
    margin-top: 20%;
  }
}

.login-main-text {
  margin-top: 25%;
  padding: 60px;
  color: rgb(0, 0, 0);
  font-family: "RocknRoll One", sans-serif;
}

.login-main-text h2 {
  font-weight: 300;
  font-size: 350%;
}

.login-main-text p {
  font-size: 150%;
}

.login-main-text hr {
  margin-left: 0px;
  border-top: 3px solid;
  width: 400px;
  opacity: 1;
}

.main-register {
  padding: 0px 10px;
  font-size: 120%;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}